.card
{
    border: none;
    
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background-image: url("src/assets/images/back.jpeg"); */
     background-color: hsla(0,0%,0%,0);
    
   
    background: linear-gradient(90deg,rgb(151, 163, 165) 0%,hsla(500,29%,36%,1)100%); 
}

.card label h1,h6
{
  color: black;
}
label{
    color: black;
    font-size: 15px;
}
.body{
  /* background-image: ; */
  background-image: url("src/assets/images/back.jpeg");
  /* background-image: url("src/assets/images/mobile-phone-gb9514cde1_1280.jpg"); */
 
   margin-top: -70px;
  height: 100vh;
    /* background-repeat: no-repeat; */
   
    /* min-width: 100%; */
}