
<div
class="bg-image body"

  
>
<br><br>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1 style="color: black;font-size: 25px;">Forget password</h1>
          <h6 style="color:brown;font-size: 20px; ">Please enter email to Proceed!</h6>
        </div>
        <div *ngIf="isforget==true">
    
        <form [formGroup]="forgetForm" (ngSubmit)="sendmail1()">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter email"
              formControlName="email"
            />
            <!-- <span class="text-danger" *ngIf="forgetForm.controls['email'].dirty && 
            forgetForm.hasError('required','email')">
             *Email Address is required</span>
             <span class="text-danger" *ngIf="forgetForm.controls['email'].dirty && 
             forgetForm.hasError('email','email')">
             *Email Id is not in correct format </span> -->
          </div><br>
          <button type="submit"  routerLink="/forget" class="btn btn-primary" >Send Mail</button>
        </form>

      </div>
      <div *ngIf="isotp==true">
         <form [formGroup]="otpForm" (ngSubmit)="verifyotp()">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter email"
              formControlName="email"
            />
            <!-- <span class="text-danger" *ngIf="signupForm.controls['email'].dirty && 
            signupForm.hasError('required','email')">
             *Email Address is required</span>
             <span class="text-danger" *ngIf="signupForm.controls['email'].dirty && 
             signupForm.hasError('email','email')">
             *Email Id is not in correct format </span> -->
          </div>
          
          <div class="form-group">
            <label for="examplelnumber">OTP</label>
            <input
              type="number"
              class="form-control"
              id="examplelnumber"
              placeholder="Enter your OTP"
              formControlName="otp"
            />
            <!-- <span class="text-danger" *ngIf="signupForm.controls['Phoneno'].dirty && 
            signupForm.hasError('required','Phoneno')">
             *Phone No is required</span>
             <span class="text-danger" *ngIf="signupForm.controls['Phoneno'].dirty && 
             signupForm.hasError('pattern','Phoneno')">
              *Phone No is not in proper format</span> -->
             
          </div>




          <div class="form-group">
            <label for="exampleInputpassword1">password</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputpassword1"
              placeholder="password"
              formControlName="password"
            />
            <!-- <span class="text-danger" *ngIf="signupForm.controls['password'].dirty && 
            signupForm.hasError('required','password')">
             *password is required</span>
             <span class="text-danger" *ngIf="signupForm.controls['password'].dirty && 
             signupForm.hasError('minlength','password')">
               *password is not of required minimum length</span> -->
          </div>
         
          <div class="form-group">
            <label for="exampleInputpassword1"> Confirm password</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputpassword1"
              placeholder=" Confirm password"
              formControlName="Cpassword"
            />
            <!-- <span class="text-danger" *ngIf="signupForm.controls['password'].dirty && 
            signupForm.hasError('required','password')">
             *password is required</span>
             <span class="text-danger" *ngIf="signupForm.controls['password'].dirty && 
             signupForm.hasError('minlength','password')">
               *password is not of required minimum length</span> -->
          </div>


          <br />
          <!-- <div class="form-group">
            <input type="checkbox" id="admin" name="admin" value="admin" formControlName="admin"/>
            <label for="admin">&nbsp;&nbsp; I am a Admin</label><br />
          </div> -->

          <button type="submit"  routerLink="/forget" class="btn btn-primary" >Change</button>
         </form>
      </div>
    </div>
  </div>
</div>


